body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.50;
    color: #212529;
    background-color: #000000;
    text-decoration: none;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}

#index {
    position: absolute;
    height: 100%;
    background: #fdfdfd;
    overflow: auto;
    border-right: 2px solid #212529;
    padding: 20px;
    padding-bottom: 100px;
    user-select: none;
}

#index a {
    /*text-decoration: none;*/
}

#index h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: normal;
    text-decoration: none !important;
}

#index h1 a {
    color: #212529;
}

#index h2 {
    font-size: 1.4rem;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

#index .link {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-top: 1px;
    text-decoration: none;
    font-weight: normal;
    background: #fdfdfd;
    cursor: pointer;
    line-height: 1.5em;
}

#index .selected {
    margin-left: -5px !important;
    padding-left: 5px !important;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #676767;
    background: #FFFF44;
}


#index .commentFirst {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-top: 1px;
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    color: #8b8b8b;
    cursor: pointer;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#index .comment {
    color: #8b8b8b;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-top: 1px;
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    cursor: pointer;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#index .link:hover {
    text-decoration: underline;
}

.content-container {
    position: absolute;
    z-index: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    opacity: 1.0;
    pointer-events: all;
    transition: all 300ms ease-in-out;
    background: lightblue;
}

.content-overlay {
    position: absolute;
    z-index: 7;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    opacity: 1.0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
}

.slideout-sidebar {
    position: fixed;
    top: 0;
    left: -600px;
    z-index: 10;
    width: 560px;
    height: 100%;
    padding: 0;
    transition: all 300ms ease-in-out;
}

#index_toggle {
    display: none;
}

#index_toggle:hover {
    cursor: pointer;
}

.index-button {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 20px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
    transition: all 300ms ease-in-out;
}

.index-button:hover {
    cursor: pointer;
    color: black;
}

.page-title {
    position: absolute;
    font-size: 1.6rem;
    top: 17px;
    left: 75px;
    text-align: left;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
    transition: all 300ms ease-in-out;
    max-width: calc(100% - 550px);
    pointer-events: none;
}

.viewSourceButton {
    position: absolute;
    left: 20px;
    bottom: 15px;
    z-index: 200;
    transition: all 300ms ease-in-out;
}

.viewSourceButton:hover {
    cursor: pointer;
    opacity: 1;
    color: black;
}

#index_toggle:checked ~ .slideout-sidebar {
    left: 0;
}

#index_toggle:checked + .index-button {
    left: 585px;
    color: white;
}

#index_toggle:checked ~ .page-title {
    left: 530px;
    color: white;
}

#index_toggle:checked ~ .viewSourceButton {
    left: 570px;
}

#index_toggle:checked ~ .content-container {
    opacity: 0.4;
    pointer-events: none;
}

#index_toggle:checked ~ .content-overlay {
    pointer-events: all;
}